@use "@/styles/media-breakpoints" as *;

.modal {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--trans);

    &.active {
        z-index: 99;
        visibility: visible;
        pointer-events: all;
        opacity: 1;
    }

    &__wrapper {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        background: var(--color-white);
        color: var(--color-blue-0);
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        transition: all var(--trans);

        @media (min-width: $media-md) {
            padding: 0 40px;
            width: 600px;
            height: 100%;
            max-height: 640px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
        }

        @media (min-width: $media-xl) {
            max-height: 740px;
        }

        @media (min-width: $media-xxxl) {
            max-height: 840px;
        }
    }

    &__header {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $media-md) {
            position: relative;
            padding: 0;
        }

        .logo {
            @media (min-width: $media-md) {
                display: none;
            }
        }
    }

    &__footer {
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 30px;

        @media (min-width: $media-md) {
            padding: 40px 0;
        }

        .logo {
            display: none;

            @media (min-width: $media-md) {
                display: block;
                margin-right: auto;
            }
        }

        &-link {
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            transition: color var(--trans);

            &:hover {
                color: var(--color-blue-40);
            }

            @media (min-width: $media-xl) {
                font-size: 20px;
            }
        }
    }

    &__close-btn {
        height: 24px;
        width: 24px;
        flex: 0 0 24px;
        background: url("../../../assets/icons/close.svg") center no-repeat;

        @media (min-width: $media-md) {
            position: absolute;
            top: 0;
            right: -104px;
            width: 44px;
            height: 44px;
            background: rgba(255, 255, 255, 0.05)
                url("../../../assets/icons/close-white.svg") center no-repeat;
            border-radius: 10px;
        }
    }

    &__body {
        flex-grow: 1;
        padding: 30px 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        @media (min-width: $media-md) {
            padding: 40px 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 27px;
        line-height: 120%;
        margin-bottom: 15px;

        @media (min-width: $media-md) {
            font-size: 35px;
        }

        @media (min-width: $media-xxxl) {
            font-size: 45px;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 30px;

        @media (min-width: $media-xxxl) {
            font-size: 18px;
        }
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .flex-row {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: $media-md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 40px;
        }
    }

    &__action {
        margin-top: 20px;
        width: 100%;

        @media (min-width: $media-md) {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .button-action {
            width: 100%;
            margin: 0 auto 20px;

            @media (min-width: $media-md) {
                flex: 0 0 115px;
                width: auto;
                margin: 0;
            }
        }
    }

    &__agreement {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: rgba(0, 0, 0, 0.7);

        @media (min-width: $media-md) {
            text-align: left;
        }

        a {
            display: inline-block;
            position: relative;
            width: fit-content;
            margin-left: 5px;

            &:hover {
                &::after {
                    background: transparent;
                }
            }

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                left: 50%;
                bottom: -1px;
                transform: translateX(-50%);
                background: rgba(0, 0, 0, 0.1);
                transition: background var(--trans);
            }
        }
    }
}
