@use "@/styles/media-breakpoints" as *;

.footer {
    margin-top: 50px;
    padding: 40px 0 20px;
    background: var(--color-blue-0);

    @media (min-width: $media-md) {
        padding: 60px 0 20px;
        margin-top: 60px;
    }

    @media (min-width: $media-xl) {
        padding: 80px 0 40px;
        margin-top: 75px;
    }

    @media (min-width: $media-xxxl) {
        margin-top: 100px;
    }

    &__logo {
        display: none;

        @media (min-width: $media-xl) {
            display: block;
            flex: 0 0 130px;
            width: 130px;
            height: 40px;
        }
    }

    .menu {
        display: none;

        @media (min-width: $media-xl) {
            display: flex;
            color: var(--color-white);
        }
    }

    &__button-action {
        @media (min-width: $media-xl) {
            padding: 18px 30px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;

        @media (min-width: $media-xl) {
            font-size: 20px;
        }

        @media (min-width: $media-xxxl) {
            font-size: 25px;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;

        @media (min-width: $media-md) {
            margin-bottom: 15px;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
        }

        @media (min-width: $media-xl) {
            margin-bottom: 104px;
        }

        p {
            display: inline-block;
            font-weight: 500;
            font-size: 27px;
            line-height: 120%;

            @media (min-width: $media-md) {
                font-weight: 500;
                font-size: 35px;
                line-height: 120%;
            }

            @media (min-width: $media-xxxl) {
                font-size: 45px;
            }
        }

        .footer__col:first-of-type {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            @media (min-width: $media-md) {
                gap: 40px;
            }

            @media (min-width: $media-xl) {
                flex: 0 0 480px;
            }

            @media (min-width: $media-xxxl) {
                flex: 0 0 690px;
            }
        }

        .footer__col:last-of-type {
            display: flex;
            align-items: center;
            gap: 24px;

            @media (min-width: $media-md) {
                flex-direction: column;
                align-items: flex-end;
                gap: 15px;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (min-width: $media-md) {
            flex-direction: row-reverse;
            align-items: flex-end;
        }

        @media (min-width: $media-xl) {
            flex-direction: row;
        }

        &-left,
        &-right {
            p,
            a,
            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: var(--color-white-50);

                @media (min-width: $media-xl) {
                    font-size: 14px;
                }

                @media (min-width: $media-xxxl) {
                    font-size: 16px;
                }
            }
        }

        &-left {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-shrink: 0;

            @media (min-width: $media-md) {
                align-items: flex-end;
            }

            @media (min-width: $media-xl) {
                gap: 15px;
                align-items: flex-start;
            }

            p {
                @media (min-width: $media-xl) {
                    color: var(--color-white);
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @media (min-width: $media-md) {
                flex-direction: row;
                align-items: flex-end;
                gap: 15px;
            }

            @media (min-width: $media-xl) {
                flex-direction: column;
            }

            a {
                @media (min-width: $media-md) {
                    flex: 0 0 171px;
                }

                @media (min-width: $media-xl) {
                    flex: 0 0 auto;
                }
            }
        }
    }
}
