@use "@/styles/media-breakpoints" as *;

.cookie-modal {
    position: fixed;
    z-index: 9;
    border-radius: 20px 20px 0 0;
    background: var(--color-white);
    padding: 20px 15px;
    color: var(--color-blue-0);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    p {
        font-size: 14px;
        line-height: 140%;

        @media (min-width: $media-md) {
            font-size: 16px;
        }
    }

    a {
        border-bottom: 1px dashed var(--color-blue-0);
    }

    @media (min-width: $media-md) {
        max-width: 450px;
        left: auto;
        right: 15px;
        bottom: 15px;
        border-radius: 20px;
        padding: 20px;
        gap: 20px;
    }
}
