@use "@/styles/media-breakpoints" as *;

.section-partners {
    &__subtitle {
        @media (min-width: $media-md) {
            max-width: 590px;
        }

        @media (min-width: $media-xxl) {
            max-width: 690px;
        }
    }

    &__logos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px 22px;

        @media (min-width: $media-md) {
            gap: 40px 60px;
        }

        @media (min-width: $media-xl) {
            gap: 50px;
        }

        @media (min-width: $media-xl) {
            gap: 50px 99px;
        }

        @media (min-width: $media-xxxl) {
            gap: 50px 120px;
        }

        img {
            height: 27px;
            max-width: 400px;

            @media (min-width: $media-md) {
                height: 34px;
            }

            @media (min-width: $media-xl) {
                height: 42px;
            }

            @media (min-width: $media-xxxl) {
                height: 52px;
            }
        }
    }
}
