@use "@/styles/media-breakpoints" as *;

.parallax {
    position: absolute;
    width: 110%;
    max-width: 3000px;
    aspect-ratio: 535 / 800;
    top: 0;
    background-image: url("../../../public/Ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    z-index: -1;

    @media (min-width: $media-md) {
        aspect-ratio: 770 / 700;
    }

    @media (min-width: $media-lg) {
        aspect-ratio: 1110 / 850;
    }

    @media (min-width: $media-xxl) {
        aspect-ratio: 1920 / 1180;
    }

    @media (min-width: 2560px) {
        background-position: center;
        aspect-ratio: 2560 / 1280;
    }
}
