@use "@/styles/media-breakpoints" as *;

.section-faq {
    &__container {
        @media (min-width: $media-xl) {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__subtitle {
        flex: 0 0 30%;

        @media (min-width: $media-xl) {
            margin-bottom: 0;
        }
    }
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
        border-radius: 20px;
        padding: 20px;
        background: var(--color-blue-20);

        @media (min-width: $media-md) {
            padding: 40px;
        }

        &.active {
            .faq-list__item-icon::after {
                max-width: 0;
                transition: all var(--trans);
            }

            .faq-list__item-footer {
                max-height: 1500px;
                padding-top: 20px;

                @media (min-width: $media-md) {
                    padding-top: 30px;
                }
            }
        }

        &-header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 15px;

            cursor: pointer;

            b {
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                margin-top: 9px;

                @media (min-width: $media-md) {
                    font-size: 18px;
                }

                @media (min-width: $media-xl) {
                    gap: 40px;
                    font-size: 20px;
                }

                @media (min-width: $media-xxxl) {
                    font-size: 25px;
                }
            }
        }

        &-icon {
            position: relative;
            height: 40px;
            width: 40px;
            flex: 0 0 40px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.05);

            @media (min-width: $media-xl) {
                height: 44px;
                width: 44px;
                flex: 0 0 44px;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                max-width: 16px;
                top: 50%;
                left: 50%;
                background: var(--color-white);
            }

            &::before {
                transform: translate(-50%, -50%);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(90deg);
                transition: all var(--trans);
            }
        }

        &-footer {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: rgba(255, 255, 255, 0.8);
            display: flex;
            flex-direction: column;
            gap: 15px;
            height: 100%;
            max-height: 0;
            overflow-y: hidden;
            transition: all var(--trans);

            @media (min-width: $media-xl) {
                font-size: 16px;
            }

            @media (min-width: $media-xxxl) {
                font-size: 18px;
            }
        }
    }
}
