@use "@/styles/media-breakpoints" as *;

.header-menu {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    will-change: transform;
    transition: transform var(--trans);
    transform: translate3d(100%, 0, 0);

    &.active {
        transform: translate3d(0, 0, 0);
    }

    &__wrapper {
        padding: 20px 15px;
        height: 100%;
        width: 100%;
        max-width: 560px;
        overflow-y: auto;
        background: var(--color-white);

        .menu {
            display: flex !important;

            &__item {
                color: var(--color-blue-0);
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .menu-wrapper {
        &__header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 30px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }
    }

    &__close-btn {
        flex: 0 0 44px;
        width: 44px;
        height: 44px;
    }

    @media (min-width: $media-xl) {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }
}
