@use "@/styles/media-breakpoints" as *;

.section-media {
    &__read-more {
        margin: 0 auto;
    }

    .subtitle {
        @media (min-width: $media-md) {
            margin-bottom: 40px;
        }

        @media (min-width: $media-xl) {
            margin-bottom: 70px;
        }
    }
}

.media-list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 40px;

    @media (min-width: $media-md) {
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(2, 1fr);
        border-top: none;

        @media (min-width: $media-xl) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    li {
        &:nth-child(odd) {
            @media (min-width: $media-md) {
                padding-right: 30px;
                border-right: 1px solid rgba(255, 255, 255, 0.05);
            }

            @media (min-width: $media-xl) {
                padding-right: 0;
                border: none;
            }
        }

        &:nth-child(even) {
            @media (min-width: $media-md) {
                padding-left: 30px;
            }

            @media (min-width: $media-xl) {
                padding-left: 0;
            }
        }

        &:nth-last-child(-n + 2) {
            .media-list__item {
                border-bottom: none;
            }
        }

        &:nth-last-child(-n + 3) {
            .media-list__item {
                @media (min-width: $media-xl) {
                    border-bottom: none;
                }
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            .media-list__item {
                @media (min-width: $media-md) {
                    padding: 0 0 40px;
                }
            }
        }

        &:nth-child(3) {
            .media-list__item {
                @media (min-width: $media-xl) {
                    padding: 0 0 40px;
                }
            }
        }

        &:nth-child(2),
        &:nth-child(5) {
            @media (min-width: $media-xl) {
                padding-left: 30px;
                padding-right: 30px;

                border-left: 1px solid rgba(255, 255, 255, 0.05);
                border-right: 1px solid rgba(255, 255, 255, 0.05);
            }
        }

        &:nth-child(1),
        &:nth-child(4) {
            @media (min-width: $media-xl) {
                padding-right: 30px;
            }
        }

        &:nth-child(3),
        &:nth-child(6) {
            @media (min-width: $media-xl) {
                padding-left: 30px;
            }
        }
    }

    &__item {
        height: 100%;
        width: 100%;
        display: block;
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        transition: border var(--trans);

        @media (min-width: $media-md) {
            padding: 40px 0;
        }

        &:hover {
            border-bottom: 1px solid var(--color-blue-40);
        }

        &-header {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: rgba(255, 255, 255, 0.4);

                @media (min-width: $media-md) {
                    font-size: 16px;
                }
            }
        }

        &-body {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
        }
    }
}
