@use "@/styles/media-breakpoints" as *;
@import "tailwindcss";

body {
    font-family: "Involve", sans-serif;
    background: var(--color-blue-10);
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    color: var(--color-white);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-gutter: stable;
}

.wrapper {
    position: relative;
    max-width: 100%;
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $media-md) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $media-xl) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width: $media-xxxl) {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bg-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    // max-height: 590px;
    background: url("../public/bg-main.png") center no-repeat;
    background-size: cover;
    z-index: -1;
}

.scroll-icon {
    background: url("../assets/icons/scroll.svg") center no-repeat;
    width: 40px;
    height: 40px;
}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--color-white-50);
    margin-bottom: 15px;

    @media (min-width: $media-md) {
        font-size: 16px;
    }

    @media (min-width: $media-xl) {
        font-size: 18px;
    }

    @media (min-width: $media-xxxl) {
        font-size: 20px;
    }
}

.subtitle {
    font-weight: 500;
    font-size: 27px;
    line-height: 120%;
    margin-bottom: 20px;

    @media (min-width: $media-md) {
        font-size: 35px;
        margin-bottom: 40px;
    }

    @media (min-width: $media-xl) {
        margin-bottom: 70px;
    }

    @media (min-width: $media-xxxl) {
        font-size: 45px;
    }
}

.section {
    margin-bottom: 100px;

    @media (min-width: $media-md) {
        margin-bottom: 120px;
    }

    @media (min-width: $media-xl) {
        margin-bottom: 150px;
    }

    @media (min-width: $media-xxxl) {
        margin-bottom: 200px;
    }
}
