@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
}

select {
    cursor: pointer;
}

select:disabled {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    cursor: unset;
}

a {
    cursor: pointer;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}
