:root {
    --trans: 0.18s ease-in-out;

    --color-white: #ffffff;
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-black: #000000;

    --color-blue-0: #0d1019;
    --color-blue-10: #131728;
    --color-blue-20: #1d2855;
    --color-blue-30: #2f46db;
    --color-blue-40: #1f3dff;

    --color-purple: #5124f4;
}
