@use "@/styles/media-breakpoints" as *;

.form {
    &-input {
        input {
            min-width: 0;
            width: 100%;
            padding: 10px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: var(--color-blue-0);
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            transition: border var(--trans);

            &:focus {
                border-bottom: 2px solid var(--color-blue-40);
            }

            &::placeholder {
                color: var(--color-blue-0);
            }
        }
    }

    &-textarea {
        overflow: hidden;
        resize: none;
        min-width: 0;
        width: 100%;
        padding: 10px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: var(--color-blue-0);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        transition: border var(--trans);

        &:focus {
            border-bottom: 2px solid var(--color-blue-40);
        }

        &::placeholder {
            color: var(--color-blue-0);
        }
    }
}
