@use "@/styles/media-breakpoints" as *;

.header {
    z-index: 1;
    padding: 20px 0;

    &__container,
    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__container {
        @media (min-width: $media-xl) {
            gap: 60px;
        }
    }

    &__content {
        @media (min-width: $media-xl) {
            flex-grow: 1;
            gap: 30px;
        }
    }

    &__logo {
        width: 80px;
        flex: 0 0 80px;
        height: 25px;
        margin-right: auto;

        @media (min-width: $media-md) {
            width: 91px;
            flex: 0 0 91px;
            height: 28px;
        }
    }

    &__telegram-link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;

        span {
            flex: 0 0 24px;
            width: 24px;
            height: 24px;
        }
    }

    &__button-action {
        display: none;

        @media (min-width: $media-md) {
            display: block;
        }
    }

    .menu {
        display: none;

        @media (min-width: $media-xl) {
            display: flex;
            margin-right: auto;
        }
    }

    &__menu-btn {
        flex: 0 0 48px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: rgba(#ffffff, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $media-xl) {
            display: none;
        }

        span {
            display: block;
            position: relative;
            height: 2px;
            width: 18px;
            border-radius: 18px;
            background: #ffffff;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 16px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 18px;
                background: #ffffff;
            }

            &::before {
                top: 6px;
            }

            &::after {
                bottom: 6px;
            }
        }
    }
}
